.main {
  background-color: #ffffff;
  width: 100%;
  min-width: 320px;
  max-width: 430px;
  margin: 0 auto;
  height: 55px;
  color: var(--lightgrey);

  display: grid;
  grid-template-columns: 45px 1fr 55px;
  align-items: center;
}

.search {
  margin: 0 17px 0 11px;
}

.icon {
  color: var(--brandYellow);
  font-weight: bold;
  font-size: 21px;
  margin-left: 15px;

  display: grid;
}

.iconStyle {
  height: 25px;
}

.searchInput {
  height: 29px;
  background-color: #ffffff;
  border: 1px #c2c1c18e solid;
  border-radius: 3px;
  padding-left: 7px;
}