.inputContainer,
.submitButtonControl {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.inputContainer:not(:last-child) {
  margin-bottom: 12px;
}

.iconDisplay {
  display: grid;
  place-content: center;
  background-color: var(--iconDarkBackground);
  border-top-left-radius: var(--borderRadiumSmall);
  border-bottom-left-radius: var(--borderRadiumSmall);
  height: var(--authFormFieldHeight);
}

.inputDisplay {
  border-top-right-radius: var(--borderRadiumSmall);
  border-bottom-right-radius: var(--borderRadiumSmall);
}

input,
select {
  background-color: var(--lightgrey);
  border-top-right-radius: var(--borderRadiumSmall);
  border-bottom-right-radius: var(--borderRadiumSmall);
  height: var(--authFormFieldHeight);
  border: none;
  width: 100%;
  padding-left: 10px;
  font-weight: bold;
  color: var(--white);
}

input::placeholder {
  color: var(--white);
  font-size: 12px;
}

input:focus {
  /* outline: none; */
  caret-color: var(--brandBlue);
}

select {
  padding-left: 5px;
  font-size: 12px;
}

.submitButtonControl {
  font-size: 15px;
  height: var(--authFormFieldHeight);
  margin-bottom: 55px;
}

.submitButton {
  background-color: var(--nidDark);
  border: none;
  border-top-right-radius: var(--borderRadiumSmall);
  border-bottom-right-radius: var(--borderRadiumSmall);
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.termsConditions {
  font-size: 10px;
  margin-top: -9px;
  margin-bottom: 23px;
  line-height: 13px;
  color: var(--nidDarkGrey);
}

.termsConditions p {
  color: var(--nidDarkGrey);
  font-weight: bold;
}

.termsConditions span {
  color: var(--nidLighter);
  font-weight: bold;
}
