*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --nidDarkGreen: #5ba551;
  --nidDarBlue: #191835;
  --nidBlack: #000000;

  --nidDark: #3b5998;
  --nidLight: #8b9dc3;
  --nidLighter: #6488eb;
  --nidDarkGrey: #828894;
  --nidLightGrey: #e9ebee;

  --white: #ffffff;
  --lightgrey: #6488eb;
  --darkgrey: #f0f0f0;
  --brandBlue: #122f7e;
  --iconDarkBackground: #2f3642;
  --brandLightBlue: #1b74e4;

  --authFormFieldHeight: 37px;
  --borderRadiumSmall: 5px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  box-sizing: border-box;
}

html {
  font-size: 62.5%x;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
